#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* ProfilePage.css */
.profile-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.profile-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-info {
  font-size: 16px;
}

/* ForumPage.css */
.forum-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.forum-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.forum-post {
  margin-bottom: 20px;
}

.forum-post h3 {
  font-size: 18px;
}

.forum-post p {
  font-size: 16px;
}

