/* Styles globaux */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

input, textarea, button {
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #004494;
}

h1, h3 {
  color: #333;
}
